body {
	width: 80%;
	border: .125rem solid black;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	text-align: center;
	font-family: Arial;
}


.grid {
	width: 90%;
	margin: 5% auto 5% auto;
	display: table;
}

.fb-box {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 20%;
	background-color: #3333D6;
	color: white;
	font-family: 'Poiret One', serif;
	padding-right: 1%;
	padding-left: 1%;
}

.fb-box p {
	height: 75%;
}

.fb-box a {
	height: 25%;
}

.tw-box {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 20%;
	margin: auto 17% auto 17%;
	background-color: #5C85FF;
	color: white;
	font-family: 'Play', serif;
	padding-right: 1%;
	padding-left: 1%;
}

.tw-box p {
	height: 75%;
}

.tw-box a {
	height: 25%;
}

.ig-box {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 20%;
	background-color: #8A5C2E;
	color: white;
	font-family: 'Coming Soon', serif;
	padding-right: 1%;
	padding-left: 1%;
}

.ig-box p {
	height: 75%;
}

.ig-box a {
	height: 25%;
	vertical-align: bottom;
}

#fbImg {
    background: url('social.png') no-repeat 0 98.81%;
    background-size: 121px 75px;
    width: 36px;
    height: 36px;
    display: block;
    margin: 5% auto 5% auto;
    vertical-align: bottom;
}

#fbImg:hover {
	background-position: 0 0;
}

#twImg {
    background: url('social.png') no-repeat 99.432% 92%;
    background-size: 121px 75px;
    width: 33px;
    height: 25px;
    position: center;
    display: block;
    margin: 5% auto 5% auto;
    vertical-align: bottom;
}

#twImg:hover {
	background-position: 99.432% 9%;
}

#igImg {
    background: url('social.png') no-repeat 51.136% 100%;
    background-size: 121px 75px;
    width: 33px;
    height: 33px;
    display: block;
    margin: 5% auto 5% auto;
    vertical-align: bottom;
}

#igImg:hover {
	background-position: 51.136% 1.19%;
}
